SQLSERVER_CONNECTION_STRING=DRIVER={ODBC Driver 18 for SQL Server};SERVER=localhost,1433;DATABASE=HealthcareInventoryDB;UID=sa;PWD=GroupK@ADBMS;TrustServerCertificate=yes;Encrypt=yes;
FLASK_HOST=127.0.0.1
FLASK_PORT=5000
FLASK_DEBUG=true
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
